*{
    font-family: Verdana;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.header {
        grid-column: 1 / 4;
        grid-row: 1;
}

.row {
    grid-column: 1/4;
    justify-self:left;
}